*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
 }


 .conteiner{
    display: flex;
    flex-direction: column;

 }
 
 .main, .aside,.footer {
    padding: 20px;
}



.header{
    position: sticky;
    top: -1px;
    border-bottom: 2px solid rgb(100, 99, 99);
    flex-basis: 60px;
    background-color: rgb(255, 255, 255);
   
}

 
 .nav {
  
    display: flex;
    flex-direction: row;
 }

 .img__nav{
    margin-top: -12px;
    margin-left: 20px;
    height: 100px;
    width: 200px;

 }

 .nav__ul{
    padding-top: 35px;
    align-self: center;
    margin-left: auto;
    
   
 }

 .nav__li {
    color: #bbb;
    display: inline-block;
    padding: 9px;
}

.nav__li:hover {
    color: #ccc;
    
    }
    
.nav__li:hover > a{
    color: rgb(171, 45, 230);

}

.nav__li a {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

 .main {
    background-color: rgb(248, 248, 255);
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
 }

.aside {
    background-color: 	rgb(176, 196, 222);
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;

}

.footer{
    background-color: 	rgb(47, 79, 79);
    flex-grow: 1;
}


@media screen and (min-width: 760px) {
.conteiner {

display: grid;
grid-template-rows: 80px 1fr 1fr 1fr 1fr  80px;
grid-template-columns: repeat(4,1fr);

}


.nav__button-conteiner {
    display: none;
}
.nav__responsive-ul {
    display: none;
}
.conteiner-img{
    display: none;
}
.icono {
    display: none;
}

 .header { 
 grid-column: 1 / span 4;
 
 }

 .main {
    grid-row: 2 / 6;
    grid-column: 1 / span 3;
 }

 .aside {
    grid-row: 2 / 6;
 }

.footer{
    grid-row: 6 / 7;
    grid-column: 1 / span 4;
}
}


@media only screen and (max-width: 760px){
    
 .img__nav{
    display: none;
 }
 
    .nav__li {
        display: none;
     }

.header {
    position: sticky;
    top: -1px;
    box-shadow: 3px 3px 80px 5px;
    border-bottom: 2px solid rgb(100, 99, 99);
   
}


ul {
    list-style-type: none;
   
}

.nav{
    
    background-color: rgb(255, 255, 255);
    height: 80px;
}


.nav__responsive-ul{
    margin-top: -40px;
    background-color: none;
    width: 100%;
    height: 2px;
    
}

.nav__li-container{
    padding-top: 20px;
    margin-left: -32px;
    background-color: rgb(200, 196, 209);
    position: relative;
    z-index: -1;
    top: -1500px;
    height: 100vh;
    width: 75%;
    transition: all 1s;
    
}

.nav__responsive-li {
    
    padding: 15px 20px; 
}

.nav__responsive-li:hover > a {
    color: rgb(171, 45, 230);
}

.nav__responsive-li a {
   color: rgb(0, 0, 0);
    text-decoration: none;
    
} 

.nav__responsive-ul:hover > .nav__li-container{
    top:0;
}

 .nav__button-conteiner {
    display: flex;
    margin-left: -20px;
    margin-top: -30px;
}

.nav__button-conteiner:hover > .nav__button{
    color: rgb(171, 45, 230);
} 

.icono {
    display: flex;
    align-items: flex-end;
    margin-left: 70px;
    margin-top: -12px;
    
}
.icono-responsive{
    
    align-self: center;
    height: 20px;
    width: 20px;
}

}


/* estilo de la pagina, primer articulo */

.main{
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}

.seccion1{

padding-top: 10px;

}
.articulo1 {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 1px;
    background-color: rgb(235, 224, 227);
    padding: 20px;

}

.titulo__articulo1 {
    border-bottom: 2px double black;
    padding-bottom: 20px;

}

.subtitulo__articulo1 {
    padding-top: 10px;
    
    
}

.contenedor__video__articulo1{
    display:flex;
    flex-direction: row;
    
}

.video__articulo1 {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 1px;
    margin: auto;
}



.imagen1__articulo1{
    
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 1px;
}

.imagen2__articulo1{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 1px;
}

/*publicidad*/

.publi__contenedor{
    display: flex;
    flex-direction: row;
}


.publi__wpt{
    padding-left: 30px;
    margin: auto;
    padding-top:  13px;
    height: 50px;
    width: 500px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 1px;
}

/* estilo de la pagina, segundo articulo */

.seccion2{
    padding-top: 10px;
}

.articulo2{
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 1px;
    background-color: #bbb;
    padding: 20px;
}

.titulo__articulo2{
    border-bottom: 2px double black;
    padding-bottom: 20px;
}

.subtitulo__articulo2{
    padding-top: 10px;
}

.imagen1__articulo2, .imagen2__articulo2{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 1px;
}

.contenedor__video__articulo2{
    display:flex;
    flex-direction: row;
}

.video__articulo2 {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 1px;
    margin: auto;
}

